@import 'https://fonts.googleapis.com/css2?family=Quicksand&display=swap';
body {
  background-color: #141625;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
  color: #fff;
}
header {
  background-color: #1F213A;
  color: #fff
}
.fav-star {
  height: 1rem;
  margin-right: 10px
}
.button {
  background-color: #9377FF;
  color: #fff;
}
.button-delete {
  background-color: #bd352c;
  color: #fff;
}
.text-purple {
  color: #9377FF;
  font-weight: 700
}
.input-styled {
  margin-top: 15px;
  color: #fff;
  background-color: #1F213A;
  border: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
}
label {
  color: #fff
}
.input-styled:hover, .input-styled:focus, .input-styled:active {
  outline: none
}
select {
  border: none;
  background-color: #141625;
  color: #fff
}
select:active, select:focus {
  outline: none
}
.login-container {
  color: #fff;
  background-color: #1F213A;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}
#loader {
  height: 1.1rem;
}